<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajout d'un article</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Ajout d'un article</h1>
    <form action="/action/add" method="POST">
      <label>
        <div>Nom</div>
        <input type="text" />
      </label>
      <label>
        <div>Prix</div>
        <input type="text" />
      </label>
      <label>
        <div>Quantité</div>
        <input type="text" />
      </label>
      <button>Créer</button>
    </form>
  </body>
</html>
