<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Liste des articles</h1>
    <div class="table">
      <div class="buttons">
        <button>Raffraichir</button>
        <a href="/add">
          <button>Ajouter</button>
        </a>
      </div>
      <table>
        <caption>
          Liste des articles
        </caption>
        <thead>
          <tr>
            <th scope="row">Nom</th>
            <th scope="row">Prix</th>
            <th scope="row">Quantité</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach((article) => { %>
          <tr>
            <td><%= article.name %></td>
            <td><%= article.price %></td>
            <td><%= article.quantity %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
