<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Liste des articles</h1>
    <div class="table">
      <div class="buttons">
        <button onclick="location.reload();"><img src="/assets/refresh-24px.svg" alt="Raffraichir"></button>
        <a href="/add">
          <button><img src="/assets/add-24px.svg" alt="Raffraichir"></button>
        </a>
        <button onclick="remove()" class="button-delete jlg-hidden"><img src="/assets/delete-24px.svg" alt="Supprimer"></button>
      </div>
      <table>
        <caption>
          Liste des articles
        </caption>
        <thead>
          <tr>
            <th scope="row">Nom</th>
            <th scope="row">Prix</th>
            <th scope="row">Quantité</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach((article) => { %>
          <tr onclick="select(this)" class="<%= article.id %>">
            <td class="name"><%= article.name %></td>
            <td><%= (+article.price).toFixed(2) %>€</td>
            <td><%= article.quantity %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
