* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2em;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

p {
  color: green;
}

caption {
  display: none;
}

table {
  border-collapse: collapse;
}

thead {
  background: #ccc;
}

tbody tr:nth-child(even) {
  background: #eee;
}

th,
td {
  padding: 0.5em;
}

td {
  text-align: right;
}

td.name {
  text-align: left;
}

div.buttons {
  width: 100%;
  font-size: 0.6em;
  padding-bottom: 1em;
}

div.buttons button {
  margin-right: 0.5em;
}

tbody tr:hover {
  cursor: pointer;
  background: #ddd;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 20em;
  font-size: 0.8em;
}

form button {
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
}

label {
  padding-bottom: 1em;
}

input {
  width: 100%;
  padding: 0.5em 1em;
}
