body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2em;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

p {
  color: green;
}

caption {
  display: none;
}

table {
  border-collapse: collapse;
}

thead {
  background: #ccc;
}

tbody tr:nth-child(even) {
  background: #eee;
}

th,
td {
  padding: 0.5em;
}

div.buttons {
  width: 100%;
  font-size: 0.6em;
  padding-bottom: 1em;
}

div.buttons button {
  margin-right: 0.5em;
}

tbody tr:hover {
  background: #ddd;
}
